* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.error-msg {
  font-size: 13px;
  position: absolute;
  color: red;
  width: 320px;
  min-height: 50px;
  background-color: #01051a1a;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.success-msg {
  font-size: 13px;
  position: absolute;
  color: rgb(27, 161, 23);
  width: 320px;
  min-height: 50px;
  background-color: #01051a1a;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.heading {
  margin-bottom: 2rem;
}

.container2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  padding-top: 4rem;
}
.form-group {
  width: 320px;
  margin-bottom: 15px;
}

.form-group input[type="text"],input[type="password"],input[type="email"],select {
  width: 100%;
  height: 55px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #01051a1a;
  background-color: 1px solid #a3a5ac;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.btn-signup {
  width: 100%;
  background-color: #090a09;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.btn-signin {
  width: 100%;
  background-color: transparent;
  color: #01051A;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #01051A;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#password-toggle {
  position: relative;
}

.togglebtn {
  top: 30px;
  right: 20px;
  position: absolute;
  cursor: pointer;
  border: none;
}