* {
  box-sizing: border-box;
}

.container1 {
  padding-top: 20px;
}

.container2 {
  margin: auto;
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 760px;
  border: 1px solid rgb(143, 143, 143);
  /* padding-top: 2rem; */
  padding-left: 10px;
}

.heading > h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  display: block;
  width: 100%;
  color: #4e515f;
}

.label {
  font-size: 12px;
}

.error-msg {
  font-size: 12px;
  color: red;
  max-width: 312px;
  min-height: 50px;
  background-color: #01051a1a;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
}
.email-error-icon {
  color: #ff0000;
  margin-top: 10px;
  padding-right: 10px;
  font-size: 12px;
  text-align: left;
}
.form-error {
  color: #ff0000;
  font-size: 12px;
  max-width: 100%;
  position: relative;
}
.form-error-icon {
  margin-left: 19.5%;
  margin-top: -32px;
  color: #ff0000;
  font-size: 13px;
  text-align: right;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .form-error-icon {
    margin-left: 70%;
    margin-top: -32px;
    color: #ff0000;
    font-size: 13px;
    text-align: right;
    position: absolute;
  }
}

.success-msg {
  font-size: 19px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  text-align: center;
  align-self: center;
  background-color: #01051a;
  z-index: 10;
  width: 360px;
  height: 760px;
  padding: 27% 10px 0 10px;
  border-radius: 10px;
  margin-top: -43%;
  margin-left: -2%;
}

.check-icon {
  font-size: 100px;
  position: absolute;
  margin-top: -50%;
  margin-left: 25%;
}
.cancel-icon {
  font-size: 25px;
  position: absolute;
  margin-top: -100%;
  margin-left: 72%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .success-msg {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    text-align: center;
    align-self: center;
    background-color: #01051a;
    z-index: 10;
    width: 380px;
    height: 810px;
    padding: 120% 10px 0 10px;
    border-radius: 10px;
    margin-top: -160%;
    margin-left: -10%;
  }
  .check-icon {
    font-size: 100px;
    position: absolute;
    margin-top: -50%;
    margin-left: 30%;
  }
  .cancel-icon {
    font-size: 25px;
    position: absolute;
    margin-top: -117%;
    margin-left: 80%;
    cursor: pointer;
  }
}

.form-group {
  width: 320px;
  margin-bottom: 15px;
}

.form-control {
  width: 312px;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #a3a5ac;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #01051a1a;
  background-color: 1px solid #a3a5ac;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.password-control {
  padding-right: 50px;
}

.btn-signup {
  width: 312px;
  background-color: #01051a;
  font-weight: 600;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.btn-signin {
  width: 312px;
  font-weight: 600;
  background-color: transparent;
  color: #01051a;
  padding: 14px 20px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#password-toggle {
  position: relative;
}

.togglebtn {
  top: 25px;
  right: 40px;
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
}
.form-error-password {
  font-size: 12px;
  margin-bottom: 0;
  opacity: 0.7;
}
.policy {
  margin-top: 10px;
  text-align: center;
  width: 312px;
  font-size: 12px;
}

.policy > a {
  text-decoration: underline;
  font-weight: 600;
}
