/* *{
    margin:0px;
    padding:0px;
    background-color:whitesmoke;
    }
    }
    
   
    
    @media screen and(max-width: 768px){
    .topIcons{
      display: flex;
      flex-direction:colum;
    }
    }
      */

.topIcons{
  display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items:center;
      background-color:white;
} 
.refreshIcon{
  padding:2px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color:white;
}
p{
  padding:1px;
  margin-top:1.2rem;
  background-color:white;
}
.qrContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width:80%;
  margin-top:2rem;
  background-color: whitesmoke;
  background-color: white;
}
.inputContainer{
  margin-top:1rem;
  height: 30px;
  border:1px solid grey;
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  border-radius: 8px
}
input{
  height:1.5rem;
  width:80%;
  background: transparent;
  outline: none;
  border:0;
  margin-left: 10px;
}
.grs{
  text-align:center;
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color:white;
}
.input-field{
  background-color:whitesmoke;
}
.icon{
  margin-right: 8px;
}
.text{
  text-align: center;
  background-color:white;
  margin-top:1rem;
}
.container{
  margin-top:1rem;
}
