.container {
  width: 700px;
  margin: auto;
}

.reset h1 {
  text-align: center;
  margin: 5rem 0;
}

.form-control {
  width: 50%;
  margin: auto;
}

input[type="password"] {
  width: 100%;
  margin: 10px 0;
  padding: 1rem 1rem;
  font-size: 20px;
  border-radius: 20px;
}

input[type="submit"] {
  width: 110%;
  background: black;
  color: white;
  padding: 1rem 1rem;
  font-size: 20px;
  border-radius: 20px;
}

.btn {
  width: 100%;
  margin: auto;
}

.reset-control {
  width: 100%;
}

.confirm-password {
  padding-top: 2rem;
  padding-bottom: 2rem
}