* {
    box-sizing: border-box;
  }
  
  .signin-form-container {
    padding: 20px 0 39px 0;
  }
  
  .container-wallet {
    margin: auto;
    width: 360px;
    height: 90vh;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    opacity: 100%;
    background-color: #fff;
    border: 1px solid rgb(143, 143, 143);
    position: relative;
  }

  .wrap-wallet-screen {
    width: 360px;
    background: #fff;
  }

  .wallet-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    color: #4e515f;
    padding-top: 50px;
    padding-bottom: 39px;
  }

  .add {
      display: flex;
      justify-content: flex-end;
  }

  .add-wallet {
      font-weight: bold;
      font-size: 14px;
      margin-left: 10px;
      color: #01051A;
  }

  .wrap-input-wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .search {
      margin-left: 15px;
      left: 0;
      position: absolute;
  }

  .input-wallet {
    font-size: 14px;
    font-weight: normal;
    border-radius: 10px;
    padding: 10px 10px 10px 35px;
    margin: 5px 0 5px 3px;
    width: 100%;
    border: 1px solid #01051a1a;
    outline: none;
    background-color: #01051a1a; 
    display: block;
    position: relative;
    height: 55px;
  }

  .wrap-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    padding: 0px 10px;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A3A5AC;
    font-size: 15px;
  }
  .icon-container:hover {
    cursor: pointer;
  }

  .wallet-currency {
      font-size: 12px;
      padding: 10px;
      margin-top: 30px;
      border: 1px solid rgb(113, 113, 117);
  }

  .coins {
    display: flex;
    margin-bottom: -40px;
  }
  
  .coins img {
    margin-right: 160px;
    margin-left: -8px;
    margin-top: 12px;
  }
  .coins:hover {
    cursor: pointer;
  }